@tailwind base;
@tailwind components;
@tailwind utilities;

/* Amida trace animation */
.amida-trace {
  animation: amida-draw 0.9s ease-in-out forwards;
}

@keyframes amida-draw {
  to {
    stroke-dashoffset: 0;
  }
}

